<app-navbar></app-navbar>

<div class="container">
    <div class="left-panel">
        <mat-card>
                <mat-card-header>
                  <h2>Add Client</h2>
                </mat-card-header>
                <mat-card-content>
                  <ul *ngFor="let user of users">
                     <li>{{ user.clientName }} {{user.clientLastName}} <button mat-button color="primary">Edit</button></li>
                  </ul>
                 <mat-action-row>
                     <button mat-button (click)="openDialog()" >Add User</button>
                 </mat-action-row>
                </mat-card-content>
        </mat-card>
    </div>
  <div class="center-container">
    <div class="header">
      <h4>Quotation</h4>
      <button class="success-btn">New Quote</button>
    </div>
    <br>

    <div class="content">
      <table mat-table [dataSource]="quotations" class="mat-elevation-z8">
    
        <!-- Client Name Column -->
        <ng-container matColumnDef="clientName">
          <th mat-header-cell *matHeaderCellDef> Client Name </th>
          <td mat-cell *matCellDef="let quotation"> {{quotation.client.clientName}} </td>
        </ng-container>
    
        <!-- Customer Number Column -->
        <ng-container matColumnDef="customerNumber">
          <th mat-header-cell *matHeaderCellDef> Customer Number </th>
          <td mat-cell *matCellDef="let quotation"> {{quotation.client.customerNumber}} </td>
        </ng-container>
    
        <!-- Client Email Column -->
        <ng-container matColumnDef="clientEmail">
          <th mat-header-cell *matHeaderCellDef> Client Email </th>
          <td mat-cell *matCellDef="let quotation"> {{quotation.client.clientEmail}} </td>
        </ng-container>
    
        <!-- Client Number Column -->
        <ng-container matColumnDef="clientNumber">
          <th mat-header-cell *matHeaderCellDef> Client Number </th>
          <td mat-cell *matCellDef="let quotation"> {{quotation.client.clientNumber}} </td>
        </ng-container>
    
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let quotation">
            <button mat-button color="primary" (click)="openViewQuotationDialog(quotation.quoteId)">View</button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      </table>
    </div>
    
  </div>
</div>
