<app-navbar></app-navbar>

<div class="container">
    <div class="left-panel">
        <mat-accordion displayMode="default" [multi]="true"
                       [hideToggle]="false">
            <mat-expansion-panel [hideToggle]="false">
                <mat-expansion-panel-header>Users</mat-expansion-panel-header>
                 <ul *ngFor="let user of users">
                    <li>{{ user.name }}</li>
                 </ul>
                <mat-action-row>
                    <button mat-button (click)="openDialog()" >Add User</button>
                    <!-- (click)="onAction(event)" -->
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
  <div class="center-container">
    <div class="header">
      <h4>Quotation</h4>
      <button>New Quote</button>
    </div>
    <div class="content">

    </div>
  </div>
</div>
