/* dashboard.component.scss */
.dashboard {
    background-color: #1f1f2e;
    color: #fff;
  }
  
  .mat-card {
    background-color: #2a2a3c;
    color: #fff;
    padding: 15px;
  }
  
  .text-danger {
    color: red;
  }
  
  .text-success {
    color: green;
  }
  