<div class="userInfo">
  <h2>Add User</h2>
  <form [formGroup]="clientsForm">
    <div class="row">
      <ng-container>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Clients name" formControlName="name">
        </mat-form-field>
      </ng-container>
      <ng-container>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Clients Last name" formControlName="lastName">
        </mat-form-field>
      </ng-container>
    </div>
    <div class="row">
      <ng-container>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Clients Email" formControlName="email">
        </mat-form-field>
      </ng-container>
      <ng-container>
        <mat-form-field appearance="outline">
          <mat-label>Mobile</mat-label>
          <input matInput placeholder="Clients Mobile" formControlName="mobile">
        </mat-form-field>
      </ng-container>
    </div>
    <div class="row">
      <ng-container>
        <mat-form-field appearance="outline">
          <mat-label>Street Address</mat-label>
          <input matInput placeholder="Clients Street Address" formControlName="street">
        </mat-form-field>
      </ng-container>
      <ng-container>
        <mat-form-field appearance="outline">
          <mat-label>Suburb</mat-label>
          <input matInput placeholder="Clients Suburb" formControlName="suburb">
        </mat-form-field>
      </ng-container>
    </div>
    <div class="row">
      <ng-container>
        <mat-form-field appearance="outline">
          <mat-label>Province</mat-label>
          <input matInput placeholder="Clients Province" formControlName="province">
        </mat-form-field>
      </ng-container>
      <ng-container>
        <mat-form-field appearance="outline">
          <mat-label>Postal Code</mat-label>
          <input matInput placeholder="Clients Postal Code" formControlName="postalCode">
        </mat-form-field>
      </ng-container>
    </div>
    <button mat-flat-button color="primary" type="submit" (click)="clientsFormSubmit()">Submit</button>
  </form>
</div>
