<!-- <div class="contact-container">
    <div class="form-box">
        <h2>Get in touch</h2>
        <form>
            <ng-container>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name">
                </mat-form-field>
            </ng-container>
            <ng-container>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email">
                </mat-form-field>
            </ng-container>
            <ng-container>
                <mat-form-field appearance="outline">
                    <mat-label>Message</mat-label>
                    <textarea matInput placeholder="Message"></textarea>
                </mat-form-field>
            </ng-container>
        </form>
    </div>
    <div class="contact-info">
        <h3>Contact Us</h3>
        <p><strong>Address:</strong> 198 West 21th Street, Suite 721 New York NY 10016</p>
        <p><strong>Phone:</strong> +1235 2355 98</p>
        <p><strong>Email:</strong> infoyoursite.com</p>
        <p><strong>Website:</strong> yoursite.com</p>
    </div>
</div> -->
